
#include "afxres.h"
#include "resource.h"

IDD_ABOUT DIALOG DISCARDABLE  300, 75, 239, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Information"
FONT 8, "MS Gautami"
BEGIN
    DEFPUSHBUTTON   "&Yes",IDYES,174,18,50,14
    PUSHBUTTON      "&No",IDNO,174,35,50,14
    GROUPBOX        "About ...",IDC_STATIC,7,7,225,52
    CTEXT           "Windows Programming\r\nLaboratory Work no.2\r\n Plesco Alexandra, 2013  (c) ",
                    IDC_STATIC,16,18,144,33
END
